<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928425323062-1993i6153156qe6d99df87p5tcm1fm2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928425323062-1993i6153156qe6d99df87p5tcm1fm2k</string>
	<key>API_KEY</key>
	<string>AIzaSyCMBAU-sjsj4HHbLEce9lcEbRfO0yiQMqE</string>
	<key>GCM_SENDER_ID</key>
	<string>928425323062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.envoke.FlashyChat</string>
	<key>PROJECT_ID</key>
	<string>flashychat-58017</string>
	<key>STORAGE_BUCKET</key>
	<string>flashychat-58017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928425323062:ios:5dd5ef500f0fbaaa0b0697</string>
</dict>
</plist>