# Tell git that any file with the extension '.pbxproj' should be treated as binary. 
# Now git will automatically combine changes from both sides of a conflict, applying upstream changes first.
*.pbxproj binary merge=union